<!-- valida si utiliza los mismos datos para facturacion-->
<script>
window.onload = function activa() {
    valor  = '{{ cliente.datfac }}';   
    if ( valor === 'on' ) { 
        document.getElementById("datfac").checked = true;
        document.getElementById("fac").hidden = true;
    }
} 
</script>

<!-- formulario de modificacion de clientes -->
<div class="container">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5> Modificación de Cliente / ID: {{ cliente.id_cliente }} </h5>
                </div>
                <div class="modal-body">
                    <form id="form-clientes" action="/clientes/edit/{{ cliente.id_cliente }}" method="POST"> 
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Nombre:
                                    <input id="nombre" type="text" class="form-control" name="nombre" value="{{ cliente.nombre }}" required  title="Nombre cliente" autofocus>
                                </div>
                                <div class="col">
                                    Dirección:
                                    <input id="direccion" type="text" class="form-control"  name="direccion" value="{{ cliente.direccion }}" title="Dirección">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Colonia:
                                    <input id="colonia" type="text" class="form-control" name="colonia" value="{{ cliente.colonia }}"  title="Colonia">
                                </div>
                                <div class="col">
                                    Ciudad:
                                    <input id="ciudad" type="text" class="form-control" name="ciudad" value="{{ cliente.ciudad }}"  title="Ciudad">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    CP:
                                    <input id="cp" type="text" pattern="[0-9]{5}" class="form-control" name="cp" value="{{ cliente.cp }}" title="C.P.(#####)">
                                </div>
                                <div class="col">
                                    Telefono:
                                    <input id="telefono" type="text" class="form-control" name="telefono"  value="{{ cliente.telefono }}" title="Telefono Ej. (4441055215)">
                                </div>
                                <div class="col">
                                    Celular:
                                    <input id="celular" type="text" class="form-control" name="celular"  value="{{ cliente.celular }}" title="Celular Ej. (4441055215)">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                RFC:
                                <input type="text" pattern="^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})\d{2}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)(\w{2})([A|a|0-9]{1}))$|^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})([02468][048]|[13579][26])0229)(\w{2})([A|a|0-9]{1})$" class="form-control" name="rfc_fac"  title="RFC Ej. ABE980416LS8">
                                </div>
                                <div class="col">
                                    <p></p>
                                    <p><label><input id="datfac" onchange="habilita(this.checked)" onload="activa({{ cliente.datfac }});" type="checkbox" name="datfac"> Utilizar estos mismos datos para facturación</label></p>
                                </div>
                            </div>
                        </div>

                        <div id="fac" class="card-fac">
                            <div class="row">
                                <div class="col col-15 text-center">
                                    <h5 class="card-tilte">Datos de Facturación</h5>
                                </div>                         
                            </div>  
                            <div class="card-body">
                                <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        Nombre:
                                        <input id="nom_fac" type="text" class="form-control" id="nom_fac" name="nom_fac"  value="{{ cliente.nom_fac }}" title="Nombre de facturación de cliente (facturación)" >
                                    </div>
                                    <div class="col">
                                        Dirección:
                                        <input id="dir_fac" type="text" class="form-control" name="dir_fac"  value="{{ cliente.dir_fac }}" title="Dirección de facturación">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        Colonia:
                                        <input id="col_fac" type="text" class="form-control" name="col_fac"   value="{{ cliente.col_fac }}" title="Colonia de facturación">
                                    </div>
                                    <div class="col">
                                        Ciudad:
                                        <input id="ciu_fac" type="text" class="form-control" name="ciu_fac" value="{{ cliente.ciu_fac }}" title="Ciudad de facturación">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                
                                    <div class="col">
                                        CP:
                                        <input id="cp_fac" type="text" pattern="[0-9]{5}" class="form-control" name="cp_fac" value="{{ cliente.cp_fac }}" title="C.P.(#####)">
                                    </div>
                                    <div class="col">
                                        Teléfono:
                                        <input id="tel_fac" type="text" class="form-control" name="tel_fac"  value="{{ cliente.tel_fac }}" title="Telefono">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col">
                                     Observaciones:
                                    <textarea name="obs" id=""  rows="2" class="form-control"  title="Observaciones">{{ cliente.obs }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                         
                        </div>
                        <div class="modal-footer">
                            <a href="/clientes/" class="btn btn-secondary">Cancelar</a>
                            <button  class="btn btn-primary">Guardar</button>       
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
