<!-- formulario de alta de clientes -->
<div class="container ms-auto">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" id="alta">
                <h5 class="modal-title"> Datos de Cliente</h5>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <td><strong>ID:</strong> {{ veh.[0].id_cliente }}</td>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <td><strong>Nombre:</strong> {{ veh.[0].nombre }}</td>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <td><strong>Dirección:</strong> {{ veh.[0].direccion }}</td>
                        </div>
                        <div class="col">
                            <td><strong>Colonia:</strong> {{ veh.[0].colonia }}</td>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <td><strong>Ciudad:</strong> {{ veh.[0].ciudad }}</td>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <td><strong>Teléfono:</strong> {{ veh.[0].telefono }}</td>
                        </div>
                        <div class="col">
                            <td><strong>Celular:</strong> {{ veh.[0].celular}}</td>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" id="alta">
                <a href="/clientes/edit/{{ veh.[0].id_cliente }}" onclick="" title="Editar registro">
                    <span class="material-icons md-24">edit_note</span>
                </a>
                <a href="#" onclick="return EliminaRegistro({{ veh.[0].id_cliente }}, 'cliente')"
                    title="Borrar Registro">
                    <span class="material-icons md-24">delete_outline</span>
                </a>
            </div>
        </div>
    </div>


    <div class="main">
        <h4>Vehiculos registrados de {{ veh.[0].nombre }}</h4>
        <div class="table-responsive">
            <div class="row">
                <div class="col" align="right">
                    <table id="MyTable" class="table table-sm table-hover table-bordered table-lights table-striped"
                        cellspacing="0">
                        <thead class="thead-dark" align="center">
                            <th>Id</th>
                            <th>Marca</th>
                            <th>Tipo</th>
                            <th>Color</th>
                            <th>Modelo</th>
                            <th>Serie</th>
                            <th>Placas</th>
                            <th>Obs</th>
                            <th>Sub-Menu
                                <a href="#nuevo_vehiculo" data-target="#nuevo_vehiculo" data-toggle="modal"
                                    title="Nuevo Registro" class=""><span
                                        class="material-icons md-24">add_box</span></a>
                            </th>
                        </thead>
                        <tbody>
                            {{#each veh }}
                            <tr class="miclase" data-id="{{ @index }}" >
                                {{!-- <td style="display:none;">{{ @index }}</td> --}}
                                <td>{{ id_veh }}</td>
                                <td>{{ marca }}</td>
                                <td id="tipo" data-id="@index">{{ tipo }}</td>
                                <td>{{ color }}</td>
                                <td>{{ modelo }}</td>
                                <td>{{ serie }}</td>
                                <td>{{ placas }}</td>
                                <td>{{ observaciones }}</td>
                                <td align="center">

                                    {{!-- <a href="/vehiculos/edit/{{ id_veh }}" onclick="" title="Editar registro">
                                        <span class="material-icons md-24">edit_note</span>
                                    </a> --}}
                                    <a href="#mod_vehiculo" data-target="#mod_vehiculo" data-id="{{ @index }}" data-toggle="modal" title="Editar registro" class="">
                                        <span class="material-icons md-24">edit_note</span>
                                    </a>

                                    <a href="#" onclick="return EliminaRegistro({{id_veh}}, 'vehiculo', )"
                                        title="Borrar Registro">
                                        <span class="material-icons md-24">delete_outline</span>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {{!-- nuevo_vehiculo --}}
    <div class="modal fade" id="nuevo_vehiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Registro - Datos de Vehiculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                <form id="form-nuevo" action="/vehiculos/add" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Id: <input id="id_cliente1" type="text" value="{{ veh.[0].id_cliente }}"
                                        class="form-control" name="id_cliente1" title="marca" disabled>
                                </div>
                                 <div class="col">
                                    <input id="id_cliente" type="hidden" value="{{ veh.[0].id_cliente }}"
                                        class="form-control" name="id_cliente" title="marca">
                                </div>
                            </div>
  
                        </div>  
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Nombre: <input id="nombre" type="text" value="{{ veh.[0].nombre }}"
                                        class="form-control" name="nombre" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Marca: <input id="marca" type="text" class="form-control" name="marca"
                                        title="marca" required>
                                </div>
                                <div class="col">
                                    Tipo: <input id="tipo" type="text" class="form-control" name="tipo" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Color: <input id="color" type="text" class="form-control" name="color"
                                        title="Color">
                                </div>
                                <div class="col">
                                    Modelo: <input id="modelo" type="number" min="1000" max="9999" class="form-control" name="modelo"
                                        title="Ciudad" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Serie: <input id="serie" type="text" class="form-control" name="serie"
                                        title="Serie">
                                </div>
                                <div class="col">
                                    Placas:<input id="placas" type="text" class="form-control" name="placas"
                                        title="Placas">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Observaciones:
                                    <textarea name="observaciones" id="" rows="2" class="form-control"
                                        title="Observaciones"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>                        
                </form>

                </div>
            </div>
        </div>
    </div>


<script>

$( "table" ).on( "click", ".miclase", function() {
 let index = $( this ).data("id");
 //const tipo = {{ veh.[3].tipo }}

 {{!-- console.log(index)
 var v1 = '{{ veh.['1'].marca }}';
if (index = 0) { let v1 = '{{ veh.[0].marca }}' };
if (index = 1) { let v1 = '{{ veh.[1].marca }}' }; --}}

 numbers()
    function numbers () {
        return index;
    }

console.log(index)
 
 //const tipo = '{{ veh.[' $( this ).data("id") '].marca }}'
 //console.log( $( this ).data("id") ); //aqui tienes cada id por cada click
  //document.getElementById("tipoM").value = tipo;
  //console.log(var1 + $( this ).data("id") + var2)
    //console.log(var1)

});
</script>




    {{!-- modificacion_vehiculo --}}
    <div class="modal fade" id="mod_vehiculo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificacion de Registro - Datos de Vehiculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                <form id="form-edit" action="/vehiculos/mod" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Id: <input id="id_cliente1M" type="text" value="{{ veh.[0].id_cliente }}"
                                        class="form-control" name="id_cliente1M" title="marca" disabled>
                                </div>
                                 <div class="col">
                                    <input id="id_clienteM" type="hidden" value="{{ veh.[0].id_cliente }}"
                                        class="form-control" name="id_clienteM" title="marca">
                                </div>
                            </div>
  
                        </div>  
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Nombre: <input id="nombreM" type="text" value="{{ veh.[0].nombre }}"
                                        class="form-control" name="nombreM" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    Marca: <input id="marcaM" type="text" class="form-control" name="marca"
                                        title="marca" value="{{ veh.['$( this ).data("id")'].marca }}" required>
                                </div>
                                <div class="col">
                                    Tipo: <input id="tipoM" name="tipoM" value="index" type="text" class="form-control"  required>
                                </div>
                            </div>
                        </div>

                           <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>                        
                </form>

                </div>
            </div>
        </div>
    </div>