<script>
    $(function(){
        $('#modalAddC').modal({
            backdrop: 'static',
            keyboard: false,
            focus: false,
            show : false
        });
    });

  function BorrarCliente(id_cliente) {
        Swal.fire({
        title: 'Estas Segur@ de eliminar el cliente '+id_cliente+' ?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirmar'
        }).then((result) => {
        if (result.isConfirmed) {
            window.location = '/clientes/delete/'+id_cliente;
            Swal.fire(
            'Cliente Eliminado con Exito!',
            )
        }
        })
    }

</script>

<div class="container mt-2" >
<h3>ABC de Vehiculos <i class="fas fa-car"></i></h3>
<div class="table-responsive">
    <div class="row">
            <div class="col" align="right">
                <table  id="MyTable" class="table table-sm table-hover table-bordered table-lights table-striped" cellspacing="0">
                    <thead class="thead-light" align="center">
                        <th>Cliente</th>
                        <th>Id Vehiculo</th>
                        <th >Marca</th>
                        <th >Tipo</th>
                        <th>Color</th>
                        <th>Modelo</th>
                        <th>Serie</th>
                        <th>Placas</th>
                        <th>Acciones 
                            <a href="/vehiculos/add" title="Nuevo Registro" class="btn btn-primary btn-sm"><i class="far fa-plus-square"></i></a> 
                        <!-- <button type="button" class="btn btn-primary btn-sm" data-toggle='modal' data-target='#modalAddC'> <i class="far fa-plus-square"></i></button>  -->                      
                        </th>
                        
                    </thead>
                    <tbody>
                        {{#each vehiculos}}
                        <tr>
                            <!--<td>{{ nombre }}</td>-->
                            <td><a href="/vehiculos/dis/{{ id_cliente }}" onclick="" title="Vehículos de Cliente">{{ nombre }} </td>
                            <td>{{ id_veh }}</td>
                            <td>{{ marca }}</td>
                            <td>{{ tipo }}</td>
                            <td>{{ color }}</td>
                            <td>{{ modelo }}</td>
                            <td>{{ serie }}</td>
                            <td>{{ placas }}</td>
                            <td align="center"> 
                            
                            <a href="/clientes/edit/{{ id_veh }}" onclick="" title="Editar registro" class="btn btn-info btn-sm"> 
                            <i class="far fa-edit"></i>
                            </a>    
                       
                          <!--  <a href="/clientes/edit/{{ id_cliente }}" title="Editar registro" class="btn btn-info btn-sm" data-toggle='modal' data-target='#modalModC' > 
                            <i class="far fa-edit"></i>
                            </a> -->

                            <!-- <a onclick="return EditarCliente({{id_cliente}})" title="Editar registro" class="btn btn-info btn-sm" data-toggle='modal' data-target='#modalModC' > 
                            <i class="far fa-edit"></i>
                            </a>-->

                            <!-- <button onclick="/clientes/edit/{{ id_cliente }}" type="button" class="btn btn-info btn-sm" data-toggle='modal' data-target='#modalModC'><i class="far fa-edit"></i></i></button>   -->                   
                        
                            <!-- <a href="/clientes/delete/{{id_cliente}}" onclick="return confirm('Esta usted seguro de eliminar el registro {{id_cliente}} ?')" title="Borrar Registro" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a> -->
                            <a onclick="return BorrarCliente({{id_cliente}})" title="Borrar Registro" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>                          
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

